ui            = true
cluster_addr  = "https://127.0.0.1:8201"
api_addr      = "https://127.0.0.1:8200"

storage "file" {
  path = "{{ storage.container.data }}"
}

listener "tcp" {
  address       = "127.0.0.1:8202"
  tls_cert_file = "{{ certs.container.certificate_path }}"
  tls_key_file  = "{{ certs.container.private_key_path }}"
}
