ui            = true
cluster_addr  = "https://127.0.0.1:8201"
api_addr      = "https://127.0.0.1:8200"

listener "tcp" {
  address       = "0.0.0.0:8200"
  tls_cert_file = "{{ certs.container.certificate_path }}"
  tls_key_file  = "{{ certs.container.private_key_path }}"
}

storage "raft" {
  path    = "{{ storage.container.data }}"
  node_id = "{{ inventory_hostname }}"
 
  retry_join {
    leader_tls_servername   = "openbao1"
    leader_api_addr         = "https://openbao1:8200"
    leader_ca_cert_file     = "{{ certs.container.caCertificate}}"
    leader_client_cert_file = "{{ certs.container.certificate_path }}"
    leader_client_key_file  = "{{ certs.container.private_key_path }}"
  }
  retry_join {
    leader_tls_servername   = "openbao2"
    leader_api_addr         = "https://openbao2:8200"
    leader_ca_cert_file     = "{{ certs.container.caCertificate}}"
    leader_client_cert_file = "{{ certs.container.certificate_path }}"
    leader_client_key_file  = "{{ certs.container.private_key_path }}"
  }
  retry_join {
    leader_tls_servername   = "openbao3"
    leader_api_addr         = "https://openbao3:8200"
    leader_ca_cert_file     = "{{ certs.container.caCertificate}}"
    leader_client_cert_file = "{{ certs.container.certificate_path }}"
    leader_client_key_file  = "{{ certs.container.private_key_path }}"
  }
}